/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Ubuntu', sans-serif;
}
nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  transition: all 0.4s ease;
  z-index: 1000; /* Make sure the navigation bar is above other content */

}
nav.sticky{
  padding: 15px 20px;
  background: #FFFFFF;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
nav .nav-content{
  height: 100%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000; /* Make sure the navigation bar is above other content */

}
nav .logo a{
  font-weight: 500;
  font-size: 35px;
  color: #000000;
}
nav.sticky .logo a{
  color: #000000;
}
.nav-content .nav-links{
  display: flex;
}
.nav-content .nav-links li{
  list-style: none;
  margin: 0 8px;
}
 .nav-links li a{
  text-decoration: none;
  color: #0E2431;
  font-size: 18px;
  font-weight: 500;
  padding: 10px 4px;
  transition: all 0.3s ease;
}
 .nav-links li a:hover{
   color: #000000;
 }
 nav.sticky .nav-links li a{
   color: #000000;
   transition: all 0.4s ease;
}
 nav.sticky .nav-links li a:hover{
  color: #0E2431;
}
.home{
 height: 150vh;
  width: 100%;
  background: url("/images/employeehome.jpg") center/cover fixed no-repeat;
    background-position: center;
  background-attachment: fixed; /* Make the background image fixed */

  
}
h2{
  font-size: 30px;
  margin-bottom: 6px;
  color: #000000
  ;
}
.text{
  text-align: justify;
  padding: 40px 80px;
  box-shadow: -5px 0 10px rgba(0, 0, 0, 0.1);
}
